<ion-header>
  <ion-navbar>
    <ion-title>Reactive Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="user" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label>
        <h1>Username</h1>
      </ion-label>
    </ion-item>

    <ion-list>

      <ion-item>
        <ion-label fixed>First Name</ion-label>
        <ion-input type="text" formControlName="firstName" [class.invalid]="isValid('firstName')"></ion-input>
      </ion-item>
      <ion-item *ngIf="isValid('firstName')" text-right>
        <span class="invalid-msg">Please fill in</span>
      </ion-item>

      <ion-item>
        <ion-label fixed>Last Name</ion-label>
        <ion-input type="text" formControlName="lastName" [class.invalid]="isValid('lastName')">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="isValid('lastName')" text-right>
        <span class="invalid-msg">Please fill in</span>
      </ion-item>

    </ion-list>

    <ion-item>
      <ion-label>
        <h1>Address</h1>
      </ion-label>
    </ion-item>

    <div formGroupName="address">
      <ion-list>

        <ion-item>
          <ion-label fixed>Street</ion-label>
          <ion-input type="text" formControlName="street" [class.invalid]="isValid('address.street')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('address.street')" text-right>
          <span class="invalid-msg">Please fill in</span>
        </ion-item>

        <ion-item>
          <ion-label fixed>City</ion-label>
          <ion-input type="text" formControlName="city" [class.invalid]="isValid('address.city')">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('address.city')" text-right>
          <span class="invalid-msg">Please fill in</span>
        </ion-item>

        <ion-item>
          <ion-label fixed>State</ion-label>
          <ion-input type="text" formControlName="state" [class.invalid]="isValid('address.state')">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('address.state')" text-right>
          <span class="invalid-msg">Please fill in</span>
        </ion-item>

        <ion-item>
          <ion-label fixed>ZipCode</ion-label>
          <ion-input type="text" formControlName="zipCode" [class.invalid]="isValid('address.zipCode')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('address.zipCode')" text-right>
          <span class="invalid-msg">Please fill in</span>
        </ion-item>

      </ion-list>
    </div>

    <button ion-button block type="submit">Submit</button>

  </form>

</ion-content>